
.videoWrapper {
	position: relative;
	padding-bottom: 49.25%;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.squareWrapper {
	position: relative;
	padding-bottom: 100%;
	padding-top: 25px;
	height: 0;
}

.squareWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.squareWrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}